Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

ANS:-
MongoDB is a NoSQL, document-oriented database that provides high performance, scalability, and flexibility in managing large volumes of unstructured or semi-structured data.

Non-relational databases, or NoSQL databases, are alternatives to traditional relational databases that do not use a fixed schema and are designed to handle a variety of data types and structures. They are well-suited for scenarios where the data is dynamic, rapidly changing, or doesn't fit neatly into tables with predefined relationships.


MongoDB is preferred over SQL databases in scenarios where flexibility, scalability, and the ability to handle complex data structures are critical for the success of the application.

Q2. State and Explain the features of MongoDB.

ANS:-mongoDB has various features but among all the most importants are :-

MongoDB stores data in flexible, JSON-like BSON documents, allowing for easy representation of complex hierarchical relationships.


let's talk about next feature now,
It does not require a predefined schema, providing flexibility as fields can be added or modified without affecting existing data.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

ANS:-we will first install pymongo , then import pymongo. after that we will connect to mongoDB by using a link and putting as string in pymongo.MongoClient('str_link'). and finally will be connected.

# let's see the code to understand even better:-

In [6]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.6.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (677 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 677.1/677.1 kB 6.3 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 11.2 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.6.1

In [7]:
import pymongo

In [8]:
client=pymongo.MongoClient("mongodb+srv://datascience6200:datascience6200@cluster0.iw31zdy.mongodb.net/?retryWrites=true&w=majority")

In [9]:
db=client.test

In [10]:
db

Database(MongoClient(host=['ac-plcajkx-shard-00-00.iw31zdy.mongodb.net:27017', 'ac-plcajkx-shard-00-02.iw31zdy.mongodb.net:27017', 'ac-plcajkx-shard-00-01.iw31zdy.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-106evp-shard-0', tls=True), 'test')

In [11]:
db=client['AKRAM_db']

In [12]:
data={'key1':[1,2,3,4],'key2':[3,4,5,6]}

In [13]:
coll_akram=db['akram_record']

In [14]:
coll_akram.insert_one(data)

InsertOneResult(ObjectId('6592bdd7726be71ebe5ff0ec'), acknowledged=True)

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

ANS:-

In the above question we have created database 'AKRAM_db', and we have created collection 'akram_record'.

In [19]:
data1=[{'installment1':[25000,23000],'installments2':[45000,23000],'installment3':[23000,56000]},{'installment1':[25000,23000],'installments2':[45000,23000],'installment3':[23000,56000]},{'installment1':[25000,23000],'installments2':[45000,23000],'installment3':[23000,56000]}]

In [16]:
data2={'village':'jhahuri'}

In [17]:
coll_akram.insert_one(data2)

InsertOneResult(ObjectId('6592c11a726be71ebe5ff0ed'), acknowledged=True)

In [20]:
coll_akram.insert_many(data1)

InsertManyResult([ObjectId('6592c181726be71ebe5ff0ee'), ObjectId('6592c181726be71ebe5ff0ef'), ObjectId('6592c181726be71ebe5ff0f0')], acknowledged=True)

In [23]:
for i in coll_akram.find():
  print(i)

{'_id': ObjectId('6592bdd7726be71ebe5ff0ec'), 'key1': [1, 2, 3, 4], 'key2': [3, 4, 5, 6]}
{'_id': ObjectId('6592c11a726be71ebe5ff0ed'), 'village': 'jhahuri'}
{'_id': ObjectId('6592c181726be71ebe5ff0ee'), 'installment1': [25000, 23000], 'installments2': [45000, 23000], 'installment3': [23000, 56000]}
{'_id': ObjectId('6592c181726be71ebe5ff0ef'), 'installment1': [25000, 23000], 'installments2': [45000, 23000], 'installment3': [23000, 56000]}
{'_id': ObjectId('6592c181726be71ebe5ff0f0'), 'installment1': [25000, 23000], 'installments2': [45000, 23000], 'installment3': [23000, 56000]}

In [24]:
coll_akram.find_one()

{'_id': ObjectId('6592bdd7726be71ebe5ff0ec'),
 'key1': [1, 2, 3, 4],
 'key2': [3, 4, 5, 6]}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

ANS:-

In [25]:
data3=[
    {"name": "John Doe", "age": 30, "city": "New York"},
    {"name": "Jane Doe", "age": 25, "city": "San Francisco"},
    {"name": "Bob Smith", "age": 35, "city": "Los Angeles"}
]

In [26]:
coll_akram.insert_many(data3)

InsertManyResult([ObjectId('6592c455726be71ebe5ff0f1'), ObjectId('6592c455726be71ebe5ff0f2'), ObjectId('6592c455726be71ebe5ff0f3')], acknowledged=True)

In [27]:
for i in coll_akram.find():
  print(i)

{'_id': ObjectId('6592bdd7726be71ebe5ff0ec'), 'key1': [1, 2, 3, 4], 'key2': [3, 4, 5, 6]}
{'_id': ObjectId('6592c11a726be71ebe5ff0ed'), 'village': 'jhahuri'}
{'_id': ObjectId('6592c181726be71ebe5ff0ee'), 'installment1': [25000, 23000], 'installments2': [45000, 23000], 'installment3': [23000, 56000]}
{'_id': ObjectId('6592c181726be71ebe5ff0ef'), 'installment1': [25000, 23000], 'installments2': [45000, 23000], 'installment3': [23000, 56000]}
{'_id': ObjectId('6592c181726be71ebe5ff0f0'), 'installment1': [25000, 23000], 'installments2': [45000, 23000], 'installment3': [23000, 56000]}
{'_id': ObjectId('6592c455726be71ebe5ff0f1'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('6592c455726be71ebe5ff0f2'), 'name': 'Jane Doe', 'age': 25, 'city': 'San Francisco'}
{'_id': ObjectId('6592c455726be71ebe5ff0f3'), 'name': 'Bob Smith', 'age': 35, 'city': 'Los Angeles'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

ANS:-
In MongoDB, the sort() method is used to sort the result of a query based on one or more fields. The sort() method takes a document that specifies the fields to sort on and the sorting order (ascending or descending).

In [32]:
Sorted_users_ascending = db.users.find().sort("age", 1)

# Displaying the result
print("Sorted by age in ascending order:")
for user in sorted_users_ascending:
    print(user)

Sorted by age in ascending order:

In [33]:
db.users.find().sort("age", -1)

Q7. Explain why delete_one(), delete_many(), and drop() is used.

ANS:-


In MongoDB, the methods delete_one(), delete_many(), and drop() are used for removing documents or collections from a database.

In [35]:
coll_akram.delete_one({'age':25})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000101'), 'opTime': {'ts': Timestamp(1704118325, 22), 't': 257}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1704118325, 22), 'signature': {'hash': b'\xaf\x98\x00@\x07\xdd\xbd\xe8C\xb4(C\x9f\xab-\xf4\xaf\x13LJ', 'keyId': 7255337718824042498}}, 'operationTime': Timestamp(1704118325, 22)}, acknowledged=True)

In [36]:
coll_akram.delete_many({"age": {"$gt": 30}})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000101'), 'opTime': {'ts': Timestamp(1704118403, 4), 't': 257}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1704118403, 4), 'signature': {'hash': b'\xea\xda\xed\xa6\xc2Md]eE\x95w>X\x97\x95A\xaf\xcc\xec', 'keyId': 7255337718824042498}}, 'operationTime': Timestamp(1704118403, 4)}, acknowledged=True)

In [37]:
for i in coll_akram.find():
  print(i)

{'_id': ObjectId('6592bdd7726be71ebe5ff0ec'), 'key1': [1, 2, 3, 4], 'key2': [3, 4, 5, 6]}
{'_id': ObjectId('6592c11a726be71ebe5ff0ed'), 'village': 'jhahuri'}
{'_id': ObjectId('6592c181726be71ebe5ff0ee'), 'installment1': [25000, 23000], 'installments2': [45000, 23000], 'installment3': [23000, 56000]}
{'_id': ObjectId('6592c181726be71ebe5ff0ef'), 'installment1': [25000, 23000], 'installments2': [45000, 23000], 'installment3': [23000, 56000]}
{'_id': ObjectId('6592c181726be71ebe5ff0f0'), 'installment1': [25000, 23000], 'installments2': [45000, 23000], 'installment3': [23000, 56000]}
{'_id': ObjectId('6592c455726be71ebe5ff0f1'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}

In [38]:
coll_akram.drop()

In [40]:
for i in coll_akram.find():
  print(i)

In [41]:
coll_akram.find_one()

we are not getting any data in last chunks of our code because we have deleted the database AKRAMdb or coll_akram